snippet output_of_command "Description" b
#s="$(ls -1)"
endsnippet

snippet extract_match "Description" b
n="$(echo $s | grep -oP 'DP-\d+')"
m="$(echo $s | grep -oP '\w+\.java' | head -1)"
endsnippet

snippet check_arg_num "Description" b
if [ "$#" -ne 1 ]; then
    git commit -m "$n modifie $m"
else
    git commit -m "$n $1"
fi
endsnippet
